@media screen and (max-width: 980px){
    .home-page-header {
        margin: 20px auto 0;
    }
    #article-contain {
        padding-top: 4px;
    }
    #site-nav {
        opacity: 0;
        visibility: hidden;
    }
    .material-icons.toggle-menu{
        opacity 1
        visibility visible
    }
    .img-item{
        width: 100%;
        padding: 0 5%;
    }
    .img-item-archive {
        width: 100%;
        padding: 5%;
    }
    #recent-posts {
        width: auto
    }
    #acticle-posts{
        width: auto
    }
    #page-footer {
        padding: 0 20px 0 20px;
    }
    #mune-mobole .pull-right {
        width: 30%;
    }
    #title-data {
        width: 74%;
    }
    .post-page-content {
        width: 98%
    }
    #article-contain{
        width: 100%
    }
    .recent-index-item{
        width: 100%;
        display: block;
    }
    $recent-article-contain-padding-left = 5%
    .recent-article-contain{
        padding-left: $recent-article-contain-padding-left;
        margin: $recent-article-contain-padding-left*2 0;
        max-width: none;
    }
    .recent-article-contain-no-img{
        padding-left: $recent-article-contain-padding-left;
        max-width: 100% - $recent-article-contain-padding-left;
    }
    .recent-article-title{
        width: 100% - $recent-article-contain-padding-left;
        max-width: @width;
    }
    .recent-article-date{
        max-width: 50%
    }
    .recent-article-content{
        width: 100% - $recent-article-contain-padding-left;
        max-width: @width;
    }    
    .recent-article-title, .article-title{
        white-space: normal;
        text-overflow: inherit;
    }
    .record-item{
        width: 48%;
    }
    .menu-bottom{
        max-width: 60%
    }
    .comment-logo {
        width: 90%;
    }
    .comment-block {
        width: 100%;
    }
    .post-send-comment {
        width: 100%;
    }
    .comment-block{
        width: 100%
    }
    #load-text {
        max-width: 50%;
    }
    .personal-sign {
        width: 30%    
    }
    .about-content{
        width: 90%;
        margin: 0 auto;
    }
    .post-img-middle {
        width: 66%    
    }
    #content-outer{
        min-height: 500px;  
    }
    .aplayer {
        width: auto    
    }
    .record-flex-row {
        flex-direction: column-reverse
        .record-post-right {
            width: auto
        }
        .record-post-left {
            width: auto
        }
    }

} 
@media screen and (max-width: 784px){
    .record-item{
        width: 100%;
    }

}
@media screen and (min-width: 981px) {
    #menu-mobile {
        opacity 0
        visibility hidden
    }
    #overlay-menu {
        display none    
    }
}
@media screen and (min-width: 981px) and (max-width: 1080px){
    .site-page{
        // padding: 10px 30px 6px 30px;
    }
    .img-item{
        width: 80%
    }
    #recent-posts {
        width: auto
    }
    #acticle-posts{
        width: auto
    }
    #page-footer {
        padding: 0 30px 0 30px;
    }
    #mune-mobole .pull-right {
        width: 30%;
    }
    .post-page-content {
        width: 86%
    }
}