#img-content
  #img-slide
  .camera-top
    div.camera-contain
      .pull-right
        img(src='/img/00_58_24_00.svg' width="100")
      .pull-left
        img(src='/img/left-top.svg' width="100")
  .camera-bottom
    div.camera-contain
      .pull-right
        img(src='/img/right-bottom.svg' width="100")
      .pull-left
        #img-text-bottom
        img(src='/img/left-bottom.svg' width="100")