- 
  function findPage(currentPage, type) {
    if (!currentPage) {
      return false
    }
    if (page.layout=== currentPage.layout) {
      return currentPage;
    }
    return findPage(currentPage[type], type)
  }
- var isPrev = findPage(page.prev, 'prev')
- var isNext = findPage(page.next, 'next')
#pagination
  .pagination
    if(isPrev)
      .prev-post-page(title=isPrev.title)
        a.vertical-center(href=url_for(isPrev.path)) 
          i.material-icons arrow_back
          span PREV
    else
      .prev-post-page
        .vertical-center
          i.material-icons arrow_back
          span PREV
    if(isNext)
      .next-post-page(title=isNext.title)
        a.vertical-center(href=url_for(isNext.path))
          span NEXT 
          i.material-icons arrow_forward
    else
      .next-post-page
        .vertical-center
          span NEXT
          i.material-icons arrow_forward