script(defer, src='/js/comment/comment.js')
.post-send-comment
    .comment-text= theme.theme_strings.comment
    textarea#comment-data(rows='10')
    .user-data
        .user-name
            input#user-name(placeholder='*用户名')
        .user-contact
            input#user-contact(placeholder='联系方式')
    .find-more#send-comment
        span 提交评论
