#page-footer{
    padding: 0 60px 0 60px;
    margin-top: 55px;
    margin-bottom: 15px;
    clear: both;
}
.footer-first{
    margin-bottom: 5px
    overflow: hidden;
    font-family: $font-bold
    font-size: 0.8rem
    {font-latin-Blod}
    .pull-left,.pull-right,a,span{
        {font-latin-Italic}
        font-size: 0.8rem
    }
}