include ./addImg.pug
mixin recordItem(post, data)
    figure.record-item(class='hidden')&attributes(data? {} : {'data-load': ''})
        a(href=url_for(config.root + post.path))
            +addImg(url_for(post.path + post.photos[0]))
        .record-intro
            if post.title
                .record-title(title!=post.title)= post.title
            if post.date
                .record-date(datetime=post.date.toJSON())= date(post.date, date_format)
            figcaption.record-content= post.description || post.subtitle
