* {
    transition: 0.2s ease-out
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: $theme-background-color;
    }
        
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background: $blockquote-color;
    }
    ::selection {
        background: $selection-background-color; 
        color: $selection-font-color;
    }

    ::-moz-selection {
        background: $selection-background-color; 
        color: $selection-font-color;
    }

    ::-webkit-selection {
        background: $selection-background-color; 
        color: $selection-font-color;
    }
    box-sizing: border-box;
}

html {
    font-size: $font-size
}

body {
    font-family: $font-family
    background-color: $theme-background-color;
}

ul {
    padding: 0;
}
ol {
    margin: 10px 0;
    padding: 0;
    li{
        padding-left: 8px
    }
}
a {
    color: $theme-link-color
    text-decoration:none;
}
.tag-box a:hover,#post a:hover,.post-page-content a:hover {
    text-decoration: underline dashed
}
.pagination a:hover,#page-footer a:hover {
    text-decoration: underline;
}
img{
    display: block
}
figure {
    margin: 0
}
.remove {
    display: none
}
.hidden {
    opacity 0
    visibility hidden    
}
.pull-left {
    float left
}
.pull-right  {
    float right
}
.logo-contain {
    border: 0;
    height: 100%;
    display: inline-block;
    padding-left: 15px;
}
.vertical-center {
    display: flex;
    align-items: center;
}
.material-icons.toggle-menu {
    float: right 
    padding-top: 8px
    padding: 8px 25px 15px 25px
    cursor pointer
    opacity 0
    visibility hidden
} 
.material-icons.toggle-menu:hover {
    color: $theme-style-color
}
.material-icons.toggle-menu:active {
    transform: scale(1.1)
}

#logo-normal:hover {
    opacity 0.7
}
#logo-normal:active {
    opacity 0.7
    transform: scale(1.05)
}

.dividded-sm {
    width: 5%
    margin: 0 auto
    height: 0.1rem
    background-color: $theme-color
}
.dividded-middle {
    @extend .dividded-sm
    width: 15%;
    margin: 0;
}
.dividded-big {
    @extend .dividded-sm
    width: $index-article-contain-width;
    margin: 0 auto;
}

.img-item img {
    width: 100%
}
.img-item {
    width: 35%
}
.overlay, #overlay-menu {
    background-color: $mask-color;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 5100;
}

#menu-mobile {
    position: fixed;
    width: 100%
    z-index: 5200
}
#menu-mobile .pull-right {
    background-color: $theme-background-color
    margin-right: 15px
    width: 40%;
    padding: 15px;
}

#go-up {
    cursor pointer
    margin-bottom: 30px
    margin-right: 10px
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 5200;
}
#go-up:hover {
    color: $theme-background-color
    background-color: $theme-style-color
}
code {
    line-height: 1.625;
}
.blur-img {
    filter: blur(2px);
    opacity: 0.8;
}
b, strong {
    {font-latin-Blod}
    {font-gb-bold}
}
.box-shadow {
    box-shadow: $block-shadow    
}
.box-shadow:hover, .box-shadow:active {
    box-shadow: $block-shadow-active   
}
h1 {
    font-size: 1.6em
}
h2 {
    font-size: 1.4em
}
h3 {
    font-size: 1.2em
}
h4 {
    font-size: 1em
}