extends includes/layout.pug
include includes/mixins/addImg.pug
include includes/mixins/music.pug

block content
  include ./includes/mixins/recordItem.pug
  script(defer, src='/js/comment/view.js')
  if page.photos.length
    .flex-row.record-flex-row
      .record-post-left
        each photo, index in page.photos
          .photo-container
              +addImg(url_for(page.path + photo))
      .record-post-right
        #title-data
          .post-page-title= page.title
          .dividded-sm
          .post-page-date
            .article-date(datetime=page.date.toJSON())= date(page.date, date_format)
        .post-page-content
          if page.hasMusic
            +music(page.music)
          != page.content
          #post-view


